<app-header></app-header>

<main>
  <div class="card">
    <h1>Cadastro</h1>
    <div class="sub">
      Já possui uma conta? <a href="#">Entre</a>
    </div>

    <div class="group">
      <label>Nome Completo *</label>
      <input type="text">
    </div>

    <div class="group">
      <label>Email (institucional) *</label>
      <input type="email" placeholder="Digite seu email">
    </div>

    <div class="group">
      <label>Gênero *</label>
      <select>
        <option value="">Selecione seu gênero</option>
        <option>Masculino</option>
        <option>Feminino</option>
        <option>Prefiro não informar</option>
      </select>
    </div>

    <div class="group">
      <label>Senha *</label>
      <input type="password" placeholder="Digite sua senha">
    </div>

    <div class="rules">
      <span>* Pelo menos 1 letra maiúscula</span>
      <span>* Pelo menos um número</span>
      <span>* Pelo menos um caractere especial</span>
      <span>* Pelo menos 8 dígitos</span>
    </div>

    <button>Cadastrar</button>
  </div>

  
   <section class="perfil">

    <header class="perfil-header">
      <span class="back">←</span>
      <h1>Perfil</h1>
    </header>

    <div class="photo-section">
      <div class="photo-wrapper">
        <div class="photo-circle"></div>
        <button class="add-photo">+</button>
      </div>
      <p class="photo-text">Escolha uma foto de perfil</p>
    </div>

    <div class="bio-section">
      <label>Fale sobre você <span>*</span></label>
      <textarea placeholder="Que tal nos contar um pouco mais sobre você."></textarea>
    </div>

    <button class="primary">Finalizar Perfil</button>

  </section>
</main>

<app-footer></app-footer>